## Тестовое задание от predictor
Ищем инсайты в базе данных с чеками

In [1]:
import pandas as pd

In [3]:
# Читаем csv файл, меняем тип колонок.

data_path_file = 'data/part-00000-tid-8370008162403743937-fb75df88-9cee-4f18-abe9-e15683243574-7517-1-c000.csv' 

df = pd.read_csv(data_path_file)
df.iloc[:, [4,6,7,8,9,10,11,12]] = (df.iloc[:, [4,6,7,8,9,10,11,12]]
                                    .apply(pd.to_numeric, errors='coerce'))

df['d_date'] = pd.to_datetime(df['d_date'])

/var/folders/1p/tldrkn2j37lb7p__09j90s340000gp/T/ipykernel_95792/1267579199.py:3: DtypeWarning: Columns (4,6,7,8,9,10,11,12) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(data_path_file)

/var/folders/1p/tldrkn2j37lb7p__09j90s340000gp/T/ipykernel_95792/1518844759.py:1: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:, [4,6,7,8,9,10,11,12]] = (df.iloc[:, [4,6,7,8,9,10,11,12]]

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000000 entries, 0 to 9999999
Data columns (total 21 columns):
 #   Column           Dtype
---  ------           -----
 0   receiptid        int64
 1   kkt_sn           int64
 2   d_date           datetime64[ns]
 3   name             object
 4   amount           float64
 5   unit             object
 6   price            float64
 7   cost             float64
 8   nal              float64
 9   electron         float64
 10  avans            float64
 11  credit           float64
 12  vstrechpredst    float64
 13  Тип региона      object
 14  Имя региона      object
 15  Тип города       object
 16  Имя города       object
 17  Тип улицы        object
 18  Имя улицы        object
 19  Тип номера дома  object
 20  Номер дома       object
dtypes: datetime64[ns](1), float64(8), int64(2), object(10)
memory usage: 1.6+ GB

In [22]:
df.head()

,receiptid,kkt_sn,d_date,name,amount,unit,price,cost,nal,electron,...,credit,vstrechpredst,Тип региона,Имя региона,Тип города,Имя города,Тип улицы,Имя улицы,Тип номера дома,Номер дома
0,61379295,108200088416,2018-06-07,0001 ДЕТСКИЙ ТРИКОТАЖ,1.0,--,450.0,450.0,450.0,0.0,...,0.0,0.0,обл,Новосибирская,г,Чулым,ул,Кооперативная,дом,"""=""""17"""""""
1,61379296,108200088416,2018-06-07,0001 ДЕТСКИЙ ТРИКОТАЖ,1.0,--,360.0,360.0,360.0,0.0,...,0.0,0.0,обл,Новосибирская,г,Чулым,ул,Кооперативная,дом,"""=""""17"""""""
2,61379301,108200088416,2018-06-07,0001 ДЕТСКИЙ ТРИКОТАЖ,1.0,--,250.0,250.0,250.0,0.0,...,0.0,0.0,обл,Новосибирская,г,Чулым,ул,Кооперативная,дом,"""=""""17"""""""
3,61429416,108200088416,2018-06-08,0001 ДЕТСКИЙ ТРИКОТАЖ,1.0,--,1500.0,1500.0,1500.0,0.0,...,0.0,0.0,обл,Новосибирская,г,Чулым,ул,Кооперативная,дом,"""=""""17"""""""
4,61431313,108200088416,2018-06-08,0001 ДЕТСКИЙ ТРИКОТАЖ,1.0,--,1870.0,1870.0,1870.0,0.0,...,0.0,0.0,обл,Новосибирская,г,Чулым,ул,Кооперативная,дом,"""=""""17"""""""

In [6]:
df.columns

Index(['receiptid', 'kkt_sn', 'd_date', 'name', 'amount', 'unit', 'price',
       'cost', 'nal', 'electron', 'avans', 'credit', 'vstrechpredst',
       'Тип региона', 'Имя региона', 'Тип города', 'Имя города', 'Тип улицы',
       'Имя улицы', 'Тип номера дома', 'Номер дома'],
      dtype='object')

In [8]:
df['amount'].unique()

array([1.0, 3.0, 2.0, ..., 333.4, 285.34, 3450.75], dtype=object)

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000000 entries, 0 to 9999999
Data columns (total 21 columns):
 #   Column           Dtype
---  ------           -----
 0   receiptid        int64
 1   kkt_sn           int64
 2   d_date           object
 3   name             object
 4   amount           float64
 5   unit             object
 6   price            float64
 7   cost             float64
 8   nal              float64
 9   electron         float64
 10  avans            float64
 11  credit           float64
 12  vstrechpredst    float64
 13  Тип региона      object
 14  Имя региона      object
 15  Тип города       object
 16  Имя города       object
 17  Тип улицы        object
 18  Имя улицы        object
 19  Тип номера дома  object
 20  Номер дома       object
dtypes: float64(8), int64(2), object(11)
memory usage: 1.6+ GB